<h1><%= I18n.t('other', :scope => [:activerecord, :models, :marker]) %></h1>

<%=
    render(
            'shared/page_navigation',
            :left => link_to(
                    I18n.t('back_to_map', :scope => [:general]),
                    root_path
            ),
            :right => link_to(
                    I18n.t('title', :scope => [:markers, :views, :new]),
                    new_marker_path
            )
    )
%>

<table>
  <tbody>
  <% @markers.each do |marker| %>
      <tr>
        <td><%= marker.name %></td>
        <td class="action">
          <%=
              link_to(
                      I18n.t('edit', :scope => [:general]),
                      edit_marker_path(marker)
              )
          %>
          <span class="inline-divider">|</span>
          <%=
              link_to(
                      I18n.t('destroy', :scope => [:general]),
                      marker,
                      method: :delete,
                      data: {
                              confirm: I18n.t('are_you_sure', :scope => [:general])
                      }
              )
          %></td>
      </tr>
  <% end %>
  </tbody>
</table>

