<%= form_for(@organizer) do |f| %>
  <% if @organizer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organizer.errors.count, "error") %> prohibited this organizer from being saved:</h2>

      <ul>
      <% @organizer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%=
        f.submit(
                (action_name == 'new' or action_name == 'create') ?
                        I18n.t('create', :scope => [:general]) :
                        I18n.t('update', :scope => [:general])
        )
    %>
  </div>
<% end %>
