<h1><%= I18n.t('organizers', :scope => [:activerecord, :models]) %></h1>

<%=
    render(
            'shared/page_navigation',
            :left => link_to(
                    I18n.t('back_to_map', :scope => [:general]),
                    root_path
            ),
            :right => link_to(
                    I18n.t('title', :scope => [:organizers, :views, :new]),
                    new_organizer_path
            )
    )
%>

<table>
  <tbody>
  <% @organizers.each do |organizer| %>
      <tr>
        <td><%= organizer.name %></td>
        <td class="action"><%=
            link_to(
                    I18n.t('edit', :scope => [:general]),
                    edit_organizer_path(organizer)
            )
        %>
          <span class="inline-divider">|</span>
          <%=
              link_to(
                      I18n.t('destroy', :scope => [:general]),
                      organizer,
                      method: :delete,
                      data: {
                              confirm: I18n.t('are_you_sure', :scope => [:general])
                      }
              )
          %></td>
      </tr>
  <% end %>
  </tbody>
</table>
