<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organizer.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @organizer.url %>
</p>

<p>
  <strong>Note:</strong>
  <%= @organizer.note %>
</p>

<%= link_to 'Edit', edit_organizer_path(@organizer) %> |
<%= link_to 'Back', organizers_path %>
