// =======================================================================================
// CATEGORIES
// =======================================================================================


// Opens a popup for creating a new category.
// ---------------------------------------------------------------------------------------
function new_category() {
    show_navigation_view('#navigation-new_category');
}


// Loads the categories from the server and adds the items for it to the navigation menu.
// ---------------------------------------------------------------------------------------
function load_categories() {

    $.ajax({
        type: "GET",
        url: "<%= categories_path(:format => 'json') %>",
        data: {},
        success: function (data, textStatus, xhr) {

            if (xhr.status == 200) {

                // Initialize the categories list.
                $('#categories_wrapper').html('<ul id="categories"></ul>');

                // Iterate through the json response and create the list in the menu.
                for (var i in data) {
                    $('#categories').append(
                                    '<li id="category-' + data[i].id + '">' +
                                    '<a href="#" class="category_selection_link" data-category_id="' + data[i].id + '">' +
                                    data[i].name +
                                    '</a>' +
                                    '</li>'
                    );
                }

                // Bind the handling functions to the navigation links.
                $(".category_selection_link").click(function () {
                    toggle_category($(this));
                    return false;
                });


            } else {
                alert("<%= I18n.t('invalid_data', :scope => [:pages, :views, :index]) %>");
            }

        },
        error: function (response) {
            alert("<%= I18n.t('invalid_data', :scope => [:pages, :views, :index]) %>");
        }
    });

}


// Creates a popup for creating a new category.
// ---------------------------------------------------------------------------------------
function create_category() {

    $.ajax({
        type: "POST",
        url: "<%= categories_path(:format => 'json') %>",
        data: {
            category: {
                name: document.getElementById("new_category_name").value
            }
        },
        success: function (data, textStatus, xhr) {

            if (xhr.status == 201) {

                // OK.
                alert('ok - change this notification');

                // Now reload the categories in the menu.
                load_categories();

                // Close the new view.
                close_navigation_page();

                // And clear the input field of this form for the next time.
                $('#new_category_name').val('');


            } else {
                alert("<%= I18n.t('invalid_data', :scope => [:pages, :views, :index]) %>");
            }

        },
        error: function (response) {
            alert("<%= I18n.t('invalid_data', :scope => [:pages, :views, :index]) %>");
        }
    });

}


// Toggles a category id to the list of visible categories.
// ---------------------------------------------------------------------------------------
function toggle_category(e) {

    // Get the category_id from the data tag of the given element.
    var category_id = parseInt(e.attr('data-category_id'));

    // Update the navigation view.
    if ($('#category-' + category_id).hasClass('element_selected')) {

        // The category was deselected.
        destroy_markers_for_category(category_id);
        $('#category-' + category_id).removeClass('element_selected');

    } else {

        // The category was selected.
        show_markers_for_category(category_id);
        $('#category-' + category_id).addClass('element_selected');

    }

}

