<div data-role="panel" id="navigation">

  <div id="categories">
    <h6><%= I18n.t('categories', :scope => [:activerecord, :models]) %></h6>

    <ul>
      <% Category.all.each do |category| %>
          <li id="category-<%= category.id.to_s %>"><%=
              link_to(
                      category.name,
                      '#',
                      :class => 'category_selection_link',
                      'data-category_id' => category.id.to_s
              )
          %></li>
      <% end %>
    </ul>
  </div>

  <div class="divider"></div>

  <div id="actions">
    <h6><%= I18n.t('settings', :scope => [:navigation]) %></h6>

    <ul>
      <li><%=
          link_to(
                  I18n.t('edit_places', :scope => [:navigation]),
                  places_path
          )
      %></li>
      <li><%=
          link_to(
                  I18n.t('edit_categories', :scope => [:navigation]),
                  categories_path
          )
      %></li>
      <li><%=
          link_to(
                  I18n.t('edit_organizers', :scope => [:navigation]),
                  organizers_path
          )
      %></li>
    </ul>
  </div>

</div>

