<%= render 'pages/components/markers' %>
<%= render 'pages/components/categories' %>
<%= render 'pages/components/locations' %>




// Internal variables
// ---------------------------------------------------------------------------------------
var default_view_latitude = <%= Rails.configuration.global[:map][:default_latitude] %>;
var default_view_longitude = <%= Rails.configuration.global[:map][:default_longitude] %>;
var default_view_zoom_level = <%= Rails.configuration.global[:map][:default_zoom_level] %>;
var map;
var open_navigation_page = '';


// ---------------------------------------------------------------------------------------
$(document).ready(function () {

    // Sets the links for the setting links.
    define_setting_links();
    define_navigation_links();

    // Load the categories.
    load_categories();
});

$(document).on('pagecreate', '#index', function (e) {

    // Load the map
    initmap();

    // Reload the map tiles after the (jquery mobile) initialisation again.
    setTimeout(
            function () {
                map.invalidateSize();
            },
            1
    );

    // Add the special buttons to the leaflet control bars a few seconds after the pages initialization.
    setTimeout(
            function () {
                $('.leaflet-control-zoom').append(
                                '<a href="#navigation" class="navigation-symbol">&#8801;</a>' +
                                '<a href="#" id="create_new_location_marker_here" onclick="create_marker_here()" class="navigation-symbol">☉</a>' +
                                '<a href="#" id="create_new_location_marker" onclick="create_marker()" class="navigation-symbol">✪</a>'
                );

            },
            3
    );

});


// Binds the settings links to their actions.
// ---------------------------------------------------------------------------------------
function define_setting_links() {

    $('#action-add_category').click(function () {
        new_category();
        return false;
    });

    // Bind the back buttons of the navigation views.
    $('.action-close_navigation_page').click(function () {
        close_navigation_page();
        return false;
    });

}


// Binds the links to their actions.
// ---------------------------------------------------------------------------------------
function define_navigation_links() {

    $('#new_category_submit').click(function () {
        create_category();
        return false;
    });

}


// Shows a navigation page.
// ---------------------------------------------------------------------------------------
function show_navigation_view(element_id) {

    // Hide the main navigation menu.
    $('#navigation-main').addClass('navigation_hidden').removeClass('navigation_visible')

    // Show the given element.
    $(element_id).removeClass('navigation_hidden').addClass('navigation_visible');

    // Save the name of the element. We need this information later for hiding it.
    open_navigation_page = element_id;

}


// Closes a navigation page.
// ---------------------------------------------------------------------------------------
function close_navigation_page() {

    // Shows the main navigation menu.
    $('#navigation-main').removeClass('navigation_hidden').addClass('navigation_visible')

    // Hide all elements which are currently visible.
    $(open_navigation_page).addClass('navigation_hidden').removeClass('navigation_visible');

}



// Creates the map.
// ---------------------------------------------------------------------------------------
function initmap() {

    // Create the map.
    map = new L.Map('map');

    // Create the OpenStreetMap and Leaflet note.
    var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib = 'Map data © OpenStreetMap contributors';
    var osm = new L.TileLayer(osmUrl, {
        minZoom: 4,
        maxZoom: 19,
        attribution: osmAttrib
    });
    map.addLayer(osm);

    map.setView(
            new L.LatLng(default_view_latitude, default_view_longitude),
            default_view_zoom_level
    );

}



