<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t('name', :scope => [:activerecord, :attributes, :category]) %>:</strong>
  <%= @category.name %>
</p>

<%= link_to I18n.t('edit', :scope => [:general]), edit_category_path(@category) %> |
<%= link_to I18n.t('back', :scope => [:general]), categories_path %>
