<h1>Places</h1>

<div id="page_navigation">
  <div class="left">
    <%=
        link_to(
                'â† Back to the map',
                root_path
        )
    %>
  </div>

  <div class="right">
    <%=
        link_to(
                'New Place',
                new_place_path
        )
    %>
  </div>
  <div style="clear: both;"></div>
</div>

<table>
  <tbody>
  <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td class="action">
          <%= link_to 'Edit', edit_place_path(place) %>
          <span class="inline-divider">|</span>
          <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
