<!DOCTYPE html>
<html>
<head>
  <title>P47</title>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= render 'layouts/components/javascript' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if action_name == 'pages' and controller_name == 'index' %>
    <%= yield %>
<% else %>
    <div id="page_content">
      <%= yield %>
    </div>
<% end %>

</body>
</html>
