<!DOCTYPE html>
<html>
<head>
  <title>P47</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render 'layouts/components/javascript' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
